<div class="fixed top-0 inset-x-0 z-50 bg-[#69f0ae] text-gray-800">
  <!-- NAVBAR -->
  <div class="h-16 flex items-center justify-between px-6">
    <div class="flex items-center space-x-6">
      <h2 class="font-extrabold text-lg tracking-wide">Logo.</h2>

      <a routerLink="/" class="font-semibold hover:text-gray-700 transition"> Shop with X </a>

      <button mat-button class="open-buttons" (click)="openNavbarContent('men')">Men</button>

      <button mat-button class="open-buttons" (click)="openNavbarContent('women')">Women</button>
    </div>

    <div class="flex items-center gap-3">
      <button mat-icon-button (click)="navigateTo('/cart')">
        <mat-icon>shopping_cart</mat-icon>
      </button>

      @if (false) {
        <button mat-raised-button color="accent">Login</button>
      }

      @if (true) {
        <div class="relative ml-3 flex items-center">
          <div class="flex items-center space-x-5">
            <span class="font-bold text-lg">Sanskar</span>
            <div>
              <button matButton [matMenuTriggerFor]="profileMenu">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ACB23aGarmIJwYpZNCOSA9rIuQIa9_HYfA&s"
                  alt="Profile Image"
                  class="h-7 w-7"
                />
              </button>
              <mat-menu #profileMenu="matMenu">
                <button mat-menu-item (click)="navigateTo('/account/orders')">Orders</button>
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Logout</button>
              </mat-menu>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  <!-- DROPDOWN (NO GAP) -->
  <div class="modal-container absolute left-0 right-0 top-full">
    @if (isNavbarContentOpen) {
      <app-navbar-content [selectedSection]="currentSection" />
    }
  </div>
</div>
