<div class="py-20 text-white px-5 lg:px-20">
  <h1 class="text-lg font-bold text-center py-10">My Orders</h1>
  <div class="lg:grid grid-cols-4 gap-5">
    <div class="col-span-1">
      <div class="">
        @for (item of orderFilter; track $index) {
          <div>
            <div class="flex items-center">
              <mat-checkbox [id]="item.value" [value]="item.value">
                <span class="text-sm text-gray-500">
                  {{ item.label }}
                </span>
              </mat-checkbox>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="col-span-3 space-y-5">
      @for (item of orders; track $index) {
        <div class="space-y-5">
          @for (orderItem of item; track $index) {
            <div>
              <app-order-card />
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
