<div class="flex justify-between space-x-8 w-full">
  @for (step of steps; track $index; let last = $last) {
    <div class="flex justify-between items-center space-x-5">
      <div
        [ngClass]="{
          'bg-green-500': activeStep == step.title && $index <= step.id,
          'bg-green-300': activeStep != step.title && activeStep !== 'CONFIRMED',
        }"
        class="h-8 w-8 rounded-full flex justify-center items-center"
      >
        <mat-icon>check_circle_outline</mat-icon>
      </div>
      <span>
        {{ step.title }}
      </span>
      @if (!last) {
        <div class="lg:w-[27vh]">
          <mat-divider
            [ngClass]="{
              'text-green-500': activeStep == step.title,
              'text-gray-500': activeStep != step.title,
            }"
          >
          </mat-divider>
        </div>
      }
    </div>
  }
</div>
