@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #0b0b0b;
  color: white;
}

.box {
  box-shadow: #000000 0px 5px 15px;
  padding: 15px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}
