<main class="mt-10">
  <div class="py-10 lg:grid grid-cols-3 lg:px-16 relative">
    <section class="lg:col-span-2 lg:px-5">
      <div class="box p-5 space-y-3">
        <ng-container>
          @if (cart) {
            @for (product of cart; track $index; let last = $last) {
              <div>
                <app-cart-items />
                @if (!last) {
                  <mat-divider />
                }
              </div>
            }
          }
        </ng-container>
      </div>
    </section>
  </div>
</main>
